body{
    background-color: black;
    color: white;
    font-family: 'Courier New', Courier, monospace;
}

.header{
    text-align: center;
}

.content{
    display: flex;
    justify-content: space-evenly;
    gap: 100px;
}

.gb-grid, .gb-comp-grid{
    text-align: center;
}

.gb-row, .gb-comp-row{
    display: flex;
}

.gb-cell, .gb-comp-cell{
    width: 30px;
    height: 30px;
    background-color: rgb(109, 225, 238);
    border: solid 1px black;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 32px;
}

.gb-cell-player-ship{
    background-color: red;
}

.gb-cell-player-hit{
    background-color: orange;
}

.gb-cell-miss{
    background-color: rgba(75, 167, 178, 0.996);
    color: red;
}

.gb-cell-hit{
    background-color: gray;
}